@font-face {
	font-family: 'Graphik-Black';
	src: url('fonts/Graphik-Black.eot');
	src: local('☺'), url('fonts/Graphik-Black.woff') format('woff'), url('fonts/Graphik-Black.ttf') format('truetype'), url('fonts/Graphik-Black.svg') format('svg');
}

@font-face {
	font-family: 'Graphik-Bold';
	src: url('fonts/Graphik-Bold.eot');
	src: local('☺'), url('fonts/Graphik-Bold.woff') format('woff'), url('fonts/Graphik-Bold.ttf') format('truetype'), url('fonts/Graphik-Bold.svg') format('svg');
}
@font-face {
	font-family: 'Graphik-Medium';
	src: url('fonts/Graphik-Medium.eot');
	src: local('☺'), url('fonts/Graphik-Medium.woff') format('woff'), url('fonts/Graphik-Medium.ttf') format('truetype'), url('fonts/Graphik-Medium.svg') format('svg');
}
@font-face {
	font-family: 'Graphik-Semibold';
	src: url('fonts/Graphik-Semibold.eot');
	src: local('☺'), url('fonts/Graphik-Semibold.woff') format('woff'), url('fonts/Graphik-Semibold.ttf') format('truetype'), url('fonts/Graphik-Semibold.svg') format('svg');
}
@font-face {
	font-family: 'Graphik-Regular';
	src: url('fonts/Graphik-Regular.eot');
	src: local('☺'), url('fonts/Graphik-Regular.woff') format('woff'), url('fonts/Graphik-Regular.ttf') format('truetype'), url('fonts/Graphik-Regular.svg') format('svg');
}


html, body {
	margin: 0px !important;
	padding:0px; 
	height:100%;
	min-height:100%;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:19px;
	line-height:24px;
	background:#FFFFFF;
	color:#333333;
	font-family: 'Graphik-Regular';

}

h1,h2,h3,h4,h5,h6,p,a,em,span,ul,li,ol,img,form,div {
	margin:0;
	padding:0;
	list-style:none;
	font-style:normal;
	font-weight:normal;
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; 
}
input, select, option, textarea {
	outline:none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;

}
header, nav, section, article, footer, address {   
    display: block;   
}
a {
	text-decoration:none;
}
a:focus { outline: none; }
a:hover {
	text-decoration:none;
}
b, strong {
	font-family:'Graphik-Bold';
	font-weight:700;
}
.clearfix {
    overflow: hidden;
}
.clear-both {
	clear:both;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.w-0 {
	width:0%;
	float:left;
}
.w-2 {
	width:2%;
	float:left;
}
.w-5 {
	width:5%;
	float:left;
}
.w-6 {
	width:6%;
	float:left;
}
.w-20 {
	width:20%;
	float:left;
}
.w-23 {
	width:23%;
	float:left;
}
.w-23-5 {
	width:23.5%;
	float:left;
}
.w-25 {
	width:25%;
	float:left;
}
.w-29 {
	width:29%;
	float:left;
}
.w-30 {
	width:30%;
	float:left;
}
.w-32 {
	width:32%;
	float:left;
}
.w-33 {
	width:33.33333333%;
	float:left;
}
.w-35 {
	width:35%;
	float:left;
}

.w-40 {
	width:40%;
	float:left;
}
.w-45 {
	width:45%;
	float:left;
}
.w-47 {
	width:47%;
	float:left;
}
.w-48 {
	width:48%;
	float:left;
}
.w-49 {
	width:49%;
	float:left;
}
.w-50 {
	width:50%;
	float:left;
}
.w-55 {
	width:55%;
	float:left;
}
.w-60 {
	width:60%;
	float:left;
}
.w-65 {
	width:65%;
	float:left;
}
.w-66 {
	width:66.66666666%;
	float:left;
}


.w-70 {
	width:70%;
	float:left;
}
.w-74-5 {
	width:74.5%;
	float:left;
}
.w-75 {
	width:75%;
	float:left;
}
.w-80 {
	width:80%;
	float:left;
}
.w-100 {
	width:100%;
	float:left;
}
.f-left {
	float:left;
}
.f-right {
	float:right;
}
body {
	padding-top:105px;
}
#root.frezz {
	/*padding-top:95px;*/
}
#mainWrap {
	margin:0 auto;
	position:relative;

}
.inner-wrap {
	max-width:1200px;
	margin:0 auto;
}
.top-banner .inner-wrap {
	
}
@media only screen and (min-width: 1400px) { 
	.top-banner .inner-wrap {
		position:absolute;
		top:0;
		bottom:0;
		width:1200px;
		left:50%;
		margin-left:-600px;
	}
	.top-banner .inner-wrap .v-align-middle {
		left:0;
	}
}
header {
	height:45px;
	padding:30px 100px 30px 100px;
	background:rgba(255,255,255,0.98);
	z-index:100; 
	position:fixed;
	left:0;
	right:0;
	top:0;	
}
#root.frezz header {
	/*padding-top:25px;*/
	
}
header nav {
	float:right;
/*	font-family: 'Graphik-Medium';*/
	font-size:14px;
	color:#000;
	font-weight:500;
}
header nav ul li {
	cursor:pointer;
	position:relative;
	z-index:1;
}
header nav ul li span {
	font-weight:500;
}
header nav ul li a {
	color:#000;
	letter-spacing:-0.1px;
	display:block;
	font-weight:500;
}
header nav ul > li {
	float:left;
	margin-left:40px;
	height:45px;
	line-height:45px;
	position:relative;
	letter-spacing:-0.1px;
}
header nav ul > li > ul,
footer ul > li.parent ul {
	display:none;
	position:absolute;
	left:0;
	top:45px;
	width:180px;
	background:#fff;
	
	-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
}
footer ul > li.parent ul {
	width:120px;
	margin-top:0;
}
header nav ul > li > ul > li > ul {
	display:none;
	position:absolute;
	left:180px;
	top:0px;
	
	-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
}
header nav ul > li:hover > ul {
	display:block;
}
header nav ul > li.parent,
footer ul > li.parent {
	padding-right:16px;
	position:relative;
}
header nav ul > li ul li {
	margin:0;
	padding:0px;
	display:block;
	float:none;
}
header nav ul > li ul li a {
	padding:0 10px;
}
header nav ul > li ul li:hover,
footer ul li.parent ul li:hover {
	background:#f1f1f1;	
}
header nav ul > li.parent:after,
footer ul > li.parent:after {
	content:"";
	position:absolute;
	right:0;
	top:18px;
	border: solid #6f8086;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
footer ul > li.parent:after {
	right:auto;
	top:10px;
	left:100px;
	border: solid #333333;	
	border-width: 0 2px 2px 0;	
}
footer ul > li.parent:hover ul {
	display:block;
}
header nav ul > li ul li.parent:after {
	right:10px;
}
footer ul > li.parent ul {
	top:25px;
}
footer ul > li.parent ul li a {
	font-size:14px;
	display:block;
	padding:0 10px;
}
.logo img {
	height:45px;
}
a.join-link {
	float:right;
	width:150px;
	height:45px;
	line-height:45px;
	font-size:14px;
	/*font-family: 'Graphik-Medium';*/
	color:#ffff;
	background:#2ecfbf;
	text-align:center;
	margin-left:40px;
	letter-spacing:-0.1px;
	
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.mac-os a.join-link {
	line-height:47px;
}

.top-banner {
	position:relative;
}
.top-banner img {
	width:100%;
}
.top-banner .v-align-middle {
	position:absolute;
	left:100px;
	top:0;
	bottom:0;
	width:50%;
	
	display: flex;
	align-items: center;
	justify-content: left;

}
.sub-heading {
	font-size:24px;
	font-weight:700;
	font-family:'Graphik-Bold';
	line-height:28px;
	color:#2ecfbf;
	text-transform:uppercase;
	letter-spacing:-0.4px;
}
.main-heading {
	font-size:72px;
	font-weight:700;
	font-family:'Graphik-Bold';
	line-height:72px;
	color:#ffffff;
	text-transform:uppercase;
	margin-left:-3px;
	letter-spacing:-0.98px;
}

.desc {
	font-size:19px;
	line-height:24px;
	font-weight:400;
	color:#ffffff;
	margin-top:25px;
	letter-spacing:-0.2px;
}	
.business-wrap {
	padding:90px 100px;
	position:relative;
	height:550px;
}
.business-text-wrap, .business-slider-wrap {
	height:550px;
	position:relative;
}
.sliderLinks {
	position:absolute;
	width:40%;
	right:0;
	top:0;
	bottom:0;
	
	display: flex;
	align-items: center;
	justify-content: left;
}
.sliderLinks div p {
	font-family: 'Graphik-Semibold';	
	margin-bottom:30px;
	letter-spacing:-0.2px;
	text-align:left;
	cursor:pointer;
	opacity:0;
}
.sliderLinks div p:last-child {
	margin:0;	
}
.business-text-wrap {
	display: flex;
	align-items: center;
	justify-content: left;
}
.business-text-wrap .text-heading {
	font-family: 'Graphik-Bold' !important;
	font-weight:700;
	color:#000000;
	text-transform:uppercase;
	line-height:44px !important;
}
.business-text-wrap p {
	margin-top:25px;
	/*padding-right:50px;*/
	letter-spacing:-0.2px;
}
.business-slider {
	height:550px;
}
.business-slider li {
	background:#fff;
	text-align:center;
	width:100% !important;
}
.business-slider .slider-img {
	height:550px;
	margin:0 auto;
}
.slider-desc {
	height:550px;
	
	display: flex;
	align-items: center;
	justify-content: left;
}
.slider-desc div p {
	font-family: 'Graphik-Semibold';
	margin-bottom:30px;
	letter-spacing:-0.2px;
	text-align:left;
	
	/*transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition-timing-function: ease-in-out;*/
}
.slider-desc div p.active {
	color:#2ecfbf;	
}
.slider-desc div p:last-child {
	margin:0;
}
.financial-wrap {
	height:600px;
	background-image:url(images/finalcial-bg.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	padding:0 100px;
}
.financial-slider-wrap {
	height:420px;
	padding:90px 0;	
	color:#fff;
}

.financial-slider {
	width:320px;
	margin-top:40px;
}
.financial-slider li {
	background:none !important;
	width:320px !important;
	
	/*transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition-timing-function: ease-in-out;*/
}

.financial-slider .count {
	display:block;
	line-height:normal;
	font-size:160px;
	font-family: 'Graphik-Bold';

}
.financial-slider .count sup {
	font-size:64px;
	line-height:normal;
	vertical-align:text-top;
	display:inline-block;
	margin-top:8px;
	
}
.financial-slider .count-desc {
	display:block;
	line-height:24px;
	font-size:19px;
	font-family: 'Graphik-Medium';
	margin-top:-25px;
	letter-spacing:-0.2px;
}
.emp-wrap {
	padding:90px 0;
	height:270px;
	background-image:url(images/emp-bg.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.emp-slider {
	text-align:center;
	color:#fff;
	/*width:100% !important;*/
}
.emp-slider li {
	background:none !important;
	/*width:100% !important;*/
}
.emp-slider .emp-header {
	margin-bottom:40px;
}

.emp-slider .emp-block {
	display:inline-block;
	vertical-align:top;
	margin:0 30px;
}


.emp-slider .emp-block .emp-count {
	line-height:normal;
	font-size:110px;
	font-family: 'Graphik-Bold';
	letter-spacing:-0.33px;
}
.emp-slider .emp-block .emp-count sup {
	font-family: 'Graphik-Semibold';
	font-size:48px;
	line-height:normal;
	vertical-align:text-top;
	display:inline-block;
	margin-top:8px;
}
.emp-slider .emp-block .emp-count-desc {
	display:block;
	line-height:24px;
	font-size:19px;
	font-family: 'Graphik-Medium';
	font-weight:500;
	letter-spacing:-0.3px;
}
.bonus-wrap {
	padding:125px 130px;
	
}
.bonus-wrap .bonus-heading {
	color:#000;
	font-weight:600;
	margin-bottom:70px;
	text-align:center;
	
}
.bonus-wrap .bonus-sub-heading {
	font-family: 'Graphik-Semibold';
	font-size:19px;
	line-height:24px;
	letter-spacing:-0.2px;
	color:#2ecfbf;
	padding-bottom:25px;
	border-bottom:2px solid #a4b5c0;

}
.bonus-wrap .bonus-desc p {
	font-size:17px;
	line-height:24px;
	letter-spacing:-0.24px;
	margin-top:25px;

}
.bonus-wrap .bonus-desc p {
	font-size:17px;
	line-height:24px;
	letter-spacing:-0.24px;
	margin-top:25px;

}
.bonus-wrap .bonus-desc p .small {
	font-size:9px;
}
.match-wrap .match-desc .small {
	font-size:12px;
}
.bonus-wrap .match-wrap {
	clear:both;
	padding-top:130px;
}
.match-wrap .match-count {
	text-align:right;
	padding-right:60px;

}
.match-wrap .match-count img {
	width:345px;
	margin:0px 0 0 auto;
}
.match-wrap .match-count sup {
	font-family: 'Graphik-Semibold';
	font-size:136px;
	font-weight:600;
	letter-spacing:-1.85px;
	-webkit-text-fill-color:#2ecfbf;
}
.match-outer-wrap {
	height:300px;
	
	display: flex;
	align-items: center;
	justify-content: left;
	
}
.match-wrap .match-heading {
	color:#000;
	font-weight:600;
}
.match-wrap .match-desc {
	letter-spacing:-0.2px;
	margin-top:30px;
	width:400px;
}
.getting-started-wrap {
	padding:130px 0;
	text-align:center;
}
.getting-started-wrap .getting-started-heading {
	color:#000;
	font-weight:600;
	line-height:56px !important;
		
}
.getting-started-wrap p {
	letter-spacing:-0.2px;
	margin:30px auto 0 auto;
	width:400px;
}
.getting-started-wrap .getting-started-heading-big {
	font-family: 'Graphik-Bold';
	font-size:72px;
	line-height:90px;
	font-weight:700;
	letter-spacing:-0.6px;
	color:#ff9500;
	text-transform:uppercase;
	margin-top:25px;
}
.form-wrap {
	margin-bottom:200px;
	min-height:410px;
	padding-left:100px;
	padding-right:100px;
}
.form-tab {
	width:600px;
	margin:0 auto;
	height:32px;
	background:#f3f5f9;
	position:relative;
	
	-webkit-border-radius: 16px;
	border-radius: 16px;
	margin-bottom:45px;
	
	
}
.form-wrap p {
	font-size:17px;
	line-height:22px;
	font-weight:400;
	letter-spacing:-0.2px;
	color: #829298;
	width:600px;
	margin:0 auto 45px auto;
	text-align:center;
}
.form-tab .form-tab-highlight {
	position:absolute;
	width:50%;
	left:0;
	top:0;
	height:32px;
	background:#2ecfbf;
	z-index:0;
	
	-webkit-border-radius: 16px;
	border-radius: 16px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition-timing-function: ease-in-out;
}
.form-tab .form-tab-highlight.right {
	left:50%;	
}
.form-tab .form-tab-1,
.form-tab .form-tab-2 {
	height:32px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	position:relative;
	z-index:1;
	
	line-height:32px;
	text-align:center;
	font-size:14px;
	font-family: 'Graphik-Medium';
	font-weight:500;
	letter-spacing:-0.1px;
	color:#829298;
	cursor:pointer;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition-timing-function: ease-in-out;
}
.form-tab .form-tab-1.active,
.form-tab .form-tab-2.active {
	color:#fff;
}
.form-1, .form-2 {
	max-width:1200px;
	margin:0 auto;
	/*max-height:0px;
	overflow:hidden;*/
	
	opacity:0;
	display:none;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition-timing-function: ease-in-out;
}
.form-1.active, .form-2.active {
	/*max-height:500px;*/
	opacity:1;
	display:block;
	
}
.form-wrap label {
	display:block;
	font-size:14px;
	line-height:18px;
	font-family: 'Graphik-Medium';
	font-weight:500;
	letter-spacing:-0.2px;
	color:#424242;
}
.form-wrap .text-box,
.form-wrap .select-box {
	margin:0;
	padding:0;
	border:none;
	background:none;
	width:100%;
	font-size:17px;
	line-height:35px;
	height:35px;
	font-family: 'Graphik-Regular';
	font-weight:400;
	letter-spacing:-0.2px;
	color:#829298;
	border-bottom:1px solid #dfe5f1;
	margin-bottom:50px;
}
.form-wrap .text-box.error,
.form-wrap .select-box.error {
	border-bottom:1px solid #ff0000;
}
.error-msg {
	color:#ff0000;
	font-size:15px;
	margin-top:-40px;
	display:block;
	float:left;
}
.select-box {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: url(images/dropdown-icon.png) no-repeat 100% 50% !important;
}


.form-wrap .submit-btn {
	display:block;
	width:350px;
	height:50px;
	margin:0 auto;
	padding:0;
	border:none;
	text-align:center;
	
	font-size:14px;
	font-family: 'Graphik-Medium';
	font-weight:500;
	letter-spacing:-0.1px;
	text-transform:uppercase;
	color:#fff;
	background:#2ecfbf;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	cursor:pointer;
}



.business-text-wrap .text-heading, 
.financial-slider-wrap, 
.emp-slider .emp-header, 
.bonus-wrap .bonus-heading,
.bonus-wrap .match-heading,
.getting-started-wrap .getting-started-heading {
	font-family: 'Graphik-Semibold';
	font-size:44px;
	line-height:48px;
	letter-spacing:-0.6px;
}


footer {
    background-color: #f3f5f9;
    background-image: url(images/footerimg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
	padding:185px 100px 55px 100px;
}
.footer-left {
	width:40%;
	float:left;
}
.footer-right {
	width:60%;
	float:right;
}
footer ul li, footer ul li a {
	font-size:18px;
	line-height:30px;
	color:#333333;
}
footer ul li.address {
	line-height:22px;
}
footer ul li.address span {
	opacity:0.6;
	color:#333333;
	line-height:normal;
}
footer ul li.address a {
	opacity:1;
	color:#333333;
	line-height:normal;
}
footer ul li.heading {
	font-size:15px;
	opacity:0.4;
	line-height:28px;
	margin-bottom:10px;
}
.footer-right ul {
	float:left;
	width:33.33%;
}
.color-yellow {
	color:#febe46;
}
.footer-links {
	height:33px;
	line-height:33px;
	padding:85px 0 35px 0;
	border-bottom:2px solid #e0e3e7;
	margin-bottom:25px;
}
.footer-links img {
	height:33px;

}
.footer-links a {
	margin-right:7px;
}
.footer-links .social-icons {
	float:right;
	height:33px;
}
.footer-links .social-icons img {
	height:auto;
	vertical-align:middle;

}
.footer-links .social-icons a {
	margin-right:0;
	margin-left:30px;
	vertical-align:middle;
	float:left;
	height:24px;
	vertical-align:middle;
}
.footer-desc .footer-left .footer-copyright {
	font-size:15px;
	line-height:22px;
	opacity:0.3;
}
.footer-desc .footer-right p {
	font-size:14px;
	line-height:18px;
	color:#6f8086;
	margin-bottom:25px;
	letter-spacing:-0.2px;
}
.footer-desc .footer-right p.small {
	font-size:12px;
	line-height:16px;
	letter-spacing:-0.1px;
}
.footer-desc .footer-right p sup.small {
	font-size:10px;
}
.footer-desc .footer-right p a {
	color:#333333;
}
.footer-desc .footer-right p:last-child {
	margin:0;
}
.financial-slider .slick-dots {
	text-align:center;
	width:320px !important;
	bottom:-50px;
}
.business-slider .slick-dots {
	text-align:center;
	bottom:-50px;
}
.financial-slider .slick-dots li,
.business-slider .slick-dots li {
	display:inline-block;
	width:auto !important;
	height:auto;
}
.financial-slider .slick-dots li button::before {
	font-size:15px;
}
.emp-slider .slick-dots {
	bottom:-50px;
}
.emp-slider .slick-dots li button::before {
	font-size:15px;
}
.business-slider .slick-dots li button::before {
	font-size:15px;
}
.slick-dots li button:before {
	opacity:0.25 !important;
}
.slick-dots li.slick-active button:before,
.slick-dots li:hover button:before {
	opacity:0.75 !important;
}
.menu-toggle {
	display:none;
}
.desktop {
	display:block !important;
}
.mobile {
	display:none !important;
}
@media only screen and (max-width: 1330px) {
	.business-text-wrap .text-heading br,
	.business-text-wrap p br {
		display:none;
	}
}
@media only screen and (max-width: 1199px) {

	header, #root.frezz header {
	    padding: 25px;
	}
	.top-banner .v-align-middle {
		left:25px;
	}
	
		
	.business-wrap {
		
		height:auto;
	}
	
	.business-text-wrap, .business-slider-wrap, .business-slider, .slider-desc {
		height:650px;	
	}
	.business-slider .slider-img {
		margin-top:50px;
	}
	.business-wrap {
		padding-top:0;
		padding-bottom:0;
	}
	.business-wrap,
	.financial-wrap,
	.bonus-wrap,
	footer {
		padding-left:25px;
		padding-right:25px;
	}
	.emp-slider .emp-block {
		margin:0 10px;
	}
}
@media only screen and (max-width: 1099px) {
	a.join-link {
		width:150px;
	}
}
@media only screen and (max-width: 1024px) {
	.business-text-wrap {
		height:auto;
		margin-bottom:100px;
	}
	.business-slider-wrap {
		height:550px;	
	}
	.business-wrap .w-45,
	.business-wrap .w-55 {
		width:100%;
		float:none;
	}
	body {
		padding-top:95px;
	}
	header {
		padding: 25px;
	}
}
@media only screen and (max-width: 1023px) {
	
	body {
		padding-top:65px;
		font-size:14px;
		line-height:18px;
	}
	.desktop {
		display:none !important;
	}
	.mobile {
		display:block !important;
	}
	#root.frezz {
		padding-top:65px;
	}
	header, #root.frezz header {
		padding: 10px 25px;
	}
	.logo {
		float:left;
		margin-top:10px;
	}
	a.join-link {
		width:100px;
		margin-left:0;
	}
	.logo img {
		height:28px;
	}
	header nav {
		float:none;
		position:fixed;
		right:0;
		top:65px;
		background:#fff;
		
		max-height:0;
		overflow:hidden;
		
		transition: all 1s;
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-ms-transition: all 1s;
		-webkit-transition-timing-function: ease-in-out;
	}
	header nav.active {
		max-height:1000px;
	}
	header nav > ul {
		width:220px;
		background:#fff;
		
		-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
	}
	header nav ul > li {
		float:none;
		line-height:normal;
		height:auto;
		margin:0;
		background:#fff;
	}
	header nav ul li.parent {
		padding-right:0;
	}
	header nav ul li.parent::after {
		display:none;
	}
	header nav ul > li a {
		line-height:45px;
	}
	header nav ul > li span {
		display:block;
		line-height:45px;
		padding:0 10px;
	}
	header nav ul > li ul, header nav ul > li ul li ul {
		position:static;
		display:block;
		background:none;
		
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	header nav ul > li ul {
		padding-left:20px;
	}
	header nav ul li:hover, header nav a:hover {
		background:#fff !important;
	}
	.menu-toggle {
		height:45px;
		width:35px;
		margin-left:20px;
		float:right;
		position:relative;
		border:none;
		cursor:pointer;
		padding:0;
		display:block;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition-timing-function: ease-in-out;
	}
	.menu-toggle span {
		position:absolute;
		width:30px;
		height:2px;
		background:#333333;
		bottom:28px;
		left:5px;
		opacity:1;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition-timing-function: ease-in-out;
	}
	.menu-toggle::after {
		content:'';
		position:absolute;
		width:30px;
		height:2px;
		background:#333333;
		bottom:22px;
		left:5px;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition-timing-function: ease-in-out;
	}
	.menu-toggle::before {
		content:'';
		position:absolute;
		width:30px;
		height:2px;
		background:#333333;
		bottom:16px;
		left:5px;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition-timing-function: ease-in-out;
	}
	.menu-toggle.toggled-on, .menu-toggle.toggled-on:hover, .menu-toggle.toggled-on:focus {
		background:none;
		border:none;
	}
	.toggled-on.menu-toggle span {
		opacity:0;
	}
	.toggled-on.menu-toggle::after {
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom:20px;
	}
	.toggled-on.menu-toggle::before {
		-moz-transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		transform: rotate(135deg);
		bottom:20px;
	}
	@media only screen and (max-height: 875px) {
		header nav {
			bottom:0;
			overflow:auto;
		}
	}
	.top-banner .v-align-middle {
		display:block;
		width:auto;
		right:25px;
		padding-top:35px;
	}
	.sub-heading {
		font-size:12px;
		line-height:28px;
		letter-spacing: -0.2px;
	}
	.main-heading {
		font-size: 46px;
		line-height: 46px;
		margin-left: -3px;
		letter-spacing: -1.1px;
	}
	.desc {
		font-size: 14px;
		line-height: 18px;
		margin-top: 25px;
		letter-spacing: -0.2px;
	}
	.business-text-wrap .text-heading, 
	.financial-slider-wrap, 
	.emp-slider .emp-header, 
	.bonus-wrap .bonus-heading,
	.bonus-wrap .match-heading,
	.getting-started-wrap .getting-started-heading {
		font-size:24px;
		line-height:28px !important;
		clear:both;
	}
	.business-wrap,
	.financial-wrap,
	.bonus-wrap,
	.emp-wrap,
	footer {
		padding-top:40px;
		padding-bottom:40px;	
	}
	.emp-wrap {
		padding-left:25px;
		padding-right:25px;
		padding-bottom:0;
	}
	.business-text-wrap p {
		margin-top:20px;
	}
	.business-text-wrap {
		margin-bottom:40px;
	}
	.business-img {
		text-align:center;
		margin-top:40px;
	}
	.business-img img {
		-webkit-box-shadow: 0 15px 30px 5px rgba(0,0,0,.15);
		box-shadow: 0 15px 30px 5px rgba(0,0,0,.15);
		width:320px;
	}
	.business-img p {
		color:#6f8086;
		font-size:12px;
		line-height:24px;
		font-family: 'Graphik-Bold';
		font-weight:700;
		text-transform:uppercase;
		letter-spacing:-0.34px;
		margin-top:20px;
	}
	.financial-wrap {
		background:#f9fafc;
		height:auto;
	}
	.financial-slider-wrap {
		width:100%;
		float:none;
		height:auto;
		color:#333333;
		padding:0;
		letter-spacing:-0.33px;
	}
	.financial-slider {
		width:100% !important;
		margin-top:0;
		height:auto !important;
		color:#ff9500;
	}
	.financial-slider li {
		float:left;
		width:45% !important;
		height:auto !important;
		margin-top:40px;
		position:static !important;
		display:block !important;
	}
	.financial-slider li:nth-child(odd) {
		margin-right:10%;
	}
	.financial-slider .count {
		font-size:48px;
	}
	.financial-slider .count sup {
		font-size:48px;
		vertical-align:baseline;
	}
	.financial-slider .count-desc {
		font-size:14px;
		line-height:18px;
		margin-top:15px;
	}
	.bonus-wrap .bonus-heading {
		margin-bottom:40px;
	}
	.bonus-desc {
		float:none;
		width:100%;
		margin-top:40px;
	}
	.bonus-wrap .bonus-sub-heading {
		padding-bottom:10px;
		border-bottom: 1px solid #a4b5c0;
		font-size:14px;
	}
	.bonus-wrap .bonus-desc p {
		margin-top:18px;
		font-size:14px;
		line-height:18px;
		color:#6f8086;
	}
	.bonus-wrap .bonus-desc p br,
	.business-text-wrap p br,
	.match-wrap .match-desc br,
	.getting-started-wrap p br,
	.form-wrap p br {
		display:none;
	}
	.bonus-wrap .match-wrap {
		padding-top:75px;
	}
	.bonus-wrap .match-wrap .w-50 {
		float:none;
		width:100%;
	}
	.match-wrap .match-count  {
		text-align:center;
		padding:0;
	}
	.match-wrap .match-count img {
		width:153px;
		margin:0 auto;
	}
	.match-wrap .match-desc {
		margin-top:25px;
	}
	.bonus-wrap .match-heading {
		margin-top:40px;
		text-align:center;
	}
	.bonus-wrap .match-heading br {
		display:none;
	}
	.match-wrap .match-desc {
		width:auto;
	}
	.emp-wrap {
		background:#f9fafc;
		height:auto;
		
	}
	
	.emp-slider {
		width:100% !important;
		margin-top:0;
		height:auto !important;
		color:#333333;
	}
	.emp-slider .emp-header {
		color:#000000;
	}
	.emp-slider li {
		float:none;
		width:100% !important;
		height:auto !important;
		position:static !important;
		display:block !important;
		clear:both;
	}
	.emp-slider li.second-child .emp-header {
		clear:both;
		margin-top:0px;
	}
	.emp-slider .emp-block .emp-count {
		font-size:48px;
		letter-spacing:-0.65px;
		color:#0f74ce;
	}
	.emp-slider .emp-block .emp-count-desc {
		font-size:14px;
		line-height:18px;
		margin-top:15px;
		letter-spacing:-0.2px;
		color:#0f74ce;
	}
	.emp-slider .emp-block .emp-count-desc br {
		display:none;
	}
	.emp-slider li .emp-block {
		float:left;
		width:45% !important;
		margin:0;
		margin-bottom:40px;
		text-align:left;
	}
	.emp-slider li .emp-block:nth-child(even) {
		margin-right:10%;
	}
	.getting-started-wrap {
		padding:75px 25px;
	}
	.getting-started-wrap p {
		margin:30px auto 0 auto;
		width:auto;
	}
	.getting-started-wrap .getting-started-heading-big {
		font-size:24px;
		line-height:45px;
		margin-top:30px;
	}
	.getting-started-heading-big span {
		line-height:normal;
		display:block;
		margin-top:10px;
	}
	.form-wrap {
		margin-bottom:75px;
		padding-left:25px;
		padding-right:25px;
	}
	.form-tab {
		width:auto;
		margin-bottom:40px;
	}
	.form-1, .form-2 {
		width:auto;
	}
	.form-wrap .w-47 {
		width:100%;
		float:none;
	}
	.form-wrap .w-6 {
		display:none;
	}
	.form-wrap .text-box, .form-wrap .select-box {
		margin-bottom:40px;
	}
	.form-wrap .submit-btn {
		width:100%;
	}
	.form-wrap p {
		width:auto;
		margin: 0 auto 40px auto;
		font-size:14px;
		line-height:18px;	
	}
	.footer-left {
		width:auto;
		float:none;
		margin-bottom:40px;
	}
	.footer-right {
		width:auto;
		float:none;
	}
	.footer-right ul {
		width:50%;
	}
	.footer-right ul:last-child {
		margin-top:40px;
		width:100%;
		clear:both;
	}
	footer ul > li.parent ul {
		margin-top:0 !important;
	}
	.footer-links {
		height:auto;
		padding:35px 0;
		text-align:center;
		line-height:normal;
		border-bottom: 1px solid #e0e3e7;
	}
	.footer-links a {
		margin:0 7px;
	}
	.footer-links .social-icons {
		float:none;
		height:auto;
		border-top: 1px solid #e0e3e7;
		padding-top:35px;
		margin-top:35px;
	}
	.footer-links .social-icons a {
		float:none;
		margin:0 15px;
	}
	.emp-slider .emp-block .emp-count sup,
	.financial-slider .count sup {
		display:inline;
		margin-top:0;
	}
	.match-outer-wrap {
		height:auto;
	}
	
}

@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 350px) {
	a.join-link {
		width:70px;
	}
	.business-img img {
		max-width:260px;
	}
}
/*.slick-slider.business-slider,*/
.slick-slider.financial-slider,
.slick-slider.emp-slider {
	display:none !important;
}
/*ul.business-slider {
	position:relative;
}
ul.business-slider li {
	position:absolute;
	height:600px;
	width:100%;
	left:0;
	top:0;
	opacity:0;
	background:#fff;
	
}
ul.business-slider li.active {
	opacity:1;
}*/
.financial-slider-inner {
	width:320px;
	height:300px;
	position:relative;
	overflow:hidden;
}
.financial-slider-inner ul {
	position:absolute;
	height:250px;
	width:960px;
	left:0;
	top:0;
	
	/*transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition-timing-function: ease-in-out;*/
}
.financial-slider-inner ul li {
	float:left;
	height:250px;
}

.financial-slider-inner ul {
	width:320px;
}
.financial-slider-inner ul li {
	position:absolute;
	height:250px;
	width:320px;
	left:0;
	top:0;
	opacity:0;
}
.financial-slider-inner ul li.active {
	opacity:1;
}
#emp-slider {
	height:290px;
	position:relative;
	overflow:hidden;
}
#emp-slider ul {
	position:absolute;
	left:0;
	top:0;
/*	height:580px;*/
	
	width:100%;
}
#emp-slider ul.set-animate {
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition-timing-function: ease-in-out;
}
#emp-slider ul li {
	/*float:left;*/
	height:290px;
	width:100%;
	margin-bottom:50px;
}
#emp-slider ul li:last-child {
	margin-bottom:0;
}
